:root {
  --primary: #d54f4e;
  --secondary: #351110;
}

body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  width: 20%;
  height: auto;
}

.btn {
  background-color: var(--primary);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: none;
  color: white;
}

.btn-outline {
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
}

#searchBar {
  width: 75%;
  height: 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--secondary);
  border-width: 1px;
  padding-left: 10px;
}

h1 {
  font-size: medium;
  color: black;
  text-align: center;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  /* Adjust the gap between items */
  margin: 5px auto;
}

/* Adjust the width of each video container */
.video-container {
  width: 100%;
  /* Each container takes up the full width of its column */
  padding: 3px;
}

/* Thumbnail styles */
.video-thumbnail {
  width: 100%;
  /* Make thumbnails fill the width of their container */
  height: auto;
  border-radius: 8px;
}

/* Title styles */
.video-title {
  margin-top: 10px;
  /* Space between thumbnail and title */
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: black;
}

.channel {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

#results {
  background-color: transparent;
  margin-bottom: 10px;
  width: 15%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
}

#player {
  align-self: center;
}

.hidden {
  display: none;
}

#pollForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

#pollForm h2 {
  color: #333;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#pollForm input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#pollForm .btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pollForm .btn-submit:hover {
  background-color: #45a049;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

#countdown {
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  color: #351110;
}
